<div>
  <div>
    <div ng-repeat="comment in comments | orderBy:'created'">
      <h5>{{comment.user}} <small>{{comment.created | date:'yyyy-MM-dd HH:mm'}} </small> 
        <span class="pull-right" ng-if="canDelete()">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs" ng-click="deleteComment(comment)">delete</button>
          </div>
        </span>
      </h5>
      <p>{{comment.message}}
    </div>
  </div>
  <form ng-if="hasUser()" class="form-horizontal">
    <div class="form-group">
      <textarea class="form-control" rows="3" ng-model="comment.msg"></textarea>
    </div>
    <button type="submit" class="btn btn-success pull-left" ng-click="newComment()">Comment</button>
  </form>
</div>
