<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="alert alert-danger" ng-show="error!=undefined">
        <button type="button" class="close" ng-click="error=undefined"><span>&times;</span>
        </button>
        {{error}}
      </div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <h5>{{computeSelectedFilePath()}}</h5>
        <ol class="breadcrumb">
          <li ng-repeat="part in breadcrumbPath" ng-click="breadcrumbPathSelected(part)">
            <a>{{part.name}}</a>
          </li>
        </ol>

        <!-- Account view-->
        <table class="table table-hover" ng-if="breadcrumbPath.length==1">
          <tr ng-repeat="account in accounts | orderBy:'name'" ng-if="account.provider!='local'" ng-click="accountSelected(account)" ng-class="{ 'active' : account === selected.account }">
            <td>
              <dl>
                <dt>{{account.name}}</dt>
                <dd>{{account.provider}}</dd>
              </dl>
            </td>
          </tr>
        </table>

        <!-- Fileinfo view-->
        <table class="table table-hover" ng-if="breadcrumbPath.length >1 && fileinfos !== undefined">
          <thead>
            <td>Name</td>
            <td>Modified</td>
            <td>Size</td>
          </thead>
          <tbody>
            <tr ng-repeat="file in fileinfos" ng-if="breadcrumbPath.length>1" ng-click="fileSelected(file)" ng-class="{ 'active' : file === selected.file }">
              <td>
                <image src="images/folder.png" width="32px" height="32px" ng-if="file.isDir"></image>
                <image src="images/file.png" width="32px" height="32px" ng-if="file.isDir==false"></image>
                {{file.name}}
              </td>
              <td>{{file.modified}}</td>
              <td>{{file.size}}</td>
            </tr>
          </tbody>
        </table>

        <div ng-if="breadcrumbPath.length >1 && fileinfos == undefined" class="jumbotron text-center">
          <p>Loading, please wait</p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-disabled="selected.file==undefined" ng-click="okClicked()">Done</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>