<nav class="navbar navbar-default navbar-static-top bricks-navbar">
  <div class="container-fluid">
    <ul class="nav nav-pills pull-right">
      <li  ng-class="{active: rightView===RIGHTSIDE_VIEWS.Templates}" ng-if="mode === MODES.Edit" role="presentation" ng-click="showTemplates()"><a>Templates</a></li>
      <li ng-class="{active: rightView===RIGHTSIDE_VIEWS.Comments}" role="presentation" ng-click="showComments()"><a>Comments</a></li>
    </ul>
    <h3 class="text-muted">{{name}}</h3>
  </div>
</nav>
<div class="alert alert-danger" ng-show="error!=undefined">
  <button type="button" class="close" ng-click="error=undefined"><span>&times;</span>
  </button>
  {{error}}
</div>
<div class="container-fluid">
  <!-- Content -->
  <div class="col-md-10">
    <div class="row" ng-if="state == SETTINGS_STATE.Loading">
      <p>Loading</p>
    </div>
    <div class="row" ng-if="state == SETTINGS_STATE.NoBricksAvailable">
      <div class="jumbotron text-center">
        <div class="container">
          <h1>Welcome</h1>
          <p>Here the brick of your content will be shown</p>
          <p>Head over to settings to create the bricks you want</p>
          <p><a ng-href="#/settings" class="btn btn-primary" role="button">Go To Settings &raquo;</a></p>
        </div>
      </div>
    </div>
    <div class="row" ng-if="state == SETTINGS_STATE.Completed">
      <div ng-repeat="brick in bricks | orderBy:'data.id'">
        <div class="{{sizeOf(brick)}}">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-white">
              <!-- Buttons -->
              <div class="btn-group btn-group-sm pull-right">
                <button ng-if="mode === MODES.Edit" type="button" class="btn btn-default" ng-click="edit(brick)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="reloadContent(brick)">
                  <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <button ng-if="mode === MODES.Edit" type="button" class="btn btn-default" ng-click="remove(brick)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
              <h4>{{brick.data.name}}</h4>
              <h4><small>{{brick.data.path}}</small></h4>
            </div>
            <!-- In edit mode -->
            <div ng-if="brick.mode === MODES.Edit">
              <!-- Text Brick-->
              <div class="panel-body background-edit">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-10">
                      <h5>{{brick.$type}}</h5>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" ng-model="brick.$name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputProvider" class="col-sm-2 control-label">Text View</label>
                    <div class="col-sm-10">
                      <select class="form-control" ng-model="brick.$textview">
                        <option ng-repeat="option in TEXT_VIEWS" value="{{option.id}}">{{option.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="pathProvider" class="col-sm-2 control-label">File</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <input class="form-control" placeholder="Path" ng-model="brick.$path" name="path" type="text" />
                        <span class="input-group-addon" ng-click="browseFile()">...</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Commands</label>
                    <div class="col-sm-10">
                      <input class="form-control" placeholder="Commands" ng-model="brick.$commands" name="commands" type="text" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" ng-model="brick.$description" placeholder="Enter some description here"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10 pull-right">
                      <button type="submit" class="btn btn-default btn-primary" ng-click="update(brick)">Update</button>
                      <button type="submit" class="btn btn-default" ng-click="cancel(brick)">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- In view mode -->
            <div ng-if="brick.mode === MODES.View">
              <p class="text-center" ng-if="brick.state == BRICK_STATE.Created">Not Loaded</p>
              <p class="text-center" ng-if="brick.state == BRICK_STATE.Loading">Loading content, please wait</p>
              <div ng-if="brick.state == BRICK_STATE.Completed">
                <!-- Text Brick-->
                <div ng-show="isCodeText(brick)" hljs source="brick.content"></div>
                <textarea ng-show="isPlainText(brick)" class="myTextArea" rows="20">{{brick.content}}</textarea>
                <!-- Table Brick-->
                <div ng-if="brick.data.type == BRICK_TYPE.Table" class="table-responsive">
                  <table class="table table-condensed table-hover">
                    <thead>
                      <tr>
                        <td ng-repeat="key in keys(brick.content[0]) | filter:'!$$'"> {{key}} </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat-start="item in brick.content | filter:searchRows" ng-init="item.$$expanded=false" ng-click="item.$$expanded=!item.$$expanded" ng-class="{ 'active' : item.$$expanded == true }">
                        <td ng-repeat="key in keys(item) | filter:'!$$'"> {{ item[key] | limitTo : 50 }} </td>
                      </tr>
                      <tr ng-repeat-end="" ng-if="item.$$expanded">
                        <!-- Need to remove the $$ parameters from the length ? -->
                        <td colspan="{{keys(brick.content[0]).length}}">
                          <dl class="dl-horizontal">
                            <div ng-repeat="key in keys(item) | filter:'!$$'">
                              <dt>{{key}}</dt>
                              <dd>{{item[key]}}</dd>
                            </div>
                          </dl>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Image brick -->
                <img ng-if="brick.data.type == BRICK_TYPE.Image" ng-src="{{imagePathOfBrick(brick)}}" width="100%" height="100%">
                <!-- Chart brick -->
                <highchart ng-if="brick.data.type == BRICK_TYPE.Chart" config="brick.content"></highchart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar -->
  <div class="col-md-2">
    <!-- Templates view -->
    <div ng-if="rightView === RIGHTSIDE_VIEWS.Templates" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Templates</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <tr ng-repeat="template in BRICK_TEMPLATES">
              <td>
                <dl>
                  <dt>{{template.name}}</dt>
                  <dd>{{template.description}}</dd>
                </dl>
              </td>
              <td>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-success" ng-click="addFromTemplate(template)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Comments view -->
    <comments ng-show="rightView === RIGHTSIDE_VIEWS.Comments"></comments>
  </div>
</div>
